@import "../../../../sass/variables";

.task-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.task-list li {
    position: relative;
    font-size: 24px;  
    border-bottom: 1px solid #ededed;
}

.task-list li:last-child {
    border-bottom: none;
}

.task-list li.editing {
    border-bottom: none;
    padding: 0;
}

.task-list li.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
}

.task-list li.editing .view {
    display: none;
}

.task-list li label {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.task-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.task-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.task-list li .destroy:hover {
    color: #af5b5e;
}

.task-list li .destroy:after {
    content: '×';
}

.task-list li:hover .destroy {
    display: block;
}

.task-list li .edit {
    display: none;
}

.task-list li.editing:last-child {
    margin-bottom: -1px;
}
