@import "../../../sass/variables";

.task {
    display: flex;
}

.task-group {
    border: solid;
    border-color: $a-color-purple-n1;
    margin: 5px;
    padding: 10px;
}

.title {
    color: $a-color-blue-n1;
    font-size: 18px;
    font-weight: bold;
    height: 22px;
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
}
